{% extends 'base.html' %}

{% block content %}

<div class="user-details-block">
    <section class="user-card">
        <div class="user-visualization">
            <div class="user-photo">
                {% if account.profile.profile_picture %}
                    <img src="{{ account.profile.profile_picture }}" alt="">
                {% else %}
                    <h2>No photo yet</h2>
                {% endif %}
            </div>
            <div class="user-name-card">
                {% if account.profile.first_name and account.profile.first_name %}
                    <h2>{{ account.profile.first_name }} {{ account.profile.last_name }}</h2>
                {% elif account.profile.first_name %}
                    <h2>{{ account.profile.first_name }}</h2>
                {% elif account.profile.last_name %}
                    <h2>{{ account.profile.last_name }}</h2>
                {% endif %}
            </div>
        </div>



        <div class="user-details">
            <h1>INFORMATION</h1>

            <h2>EMAIL: {{ account.email }}</h2>
            <h2>DATE OF BIRTH: {% if account.profile.date_of_birth %}
                {{ account.profile.date_of_birth }} {% else %} No information provided</h2>
            {% endif %}
            <h2>GAMES PLAYED: {% if account.review_set %} {{ account.review_set.count }} {% else %} 0 {% endif %}</h2> {#continue once the backend logic is completed#}
            <p>{% if account.profile.description %} {{ account.profile.description }} {% endif %}</p>
        </div>
    </section>
                <div class="user-buttons">
                    <a href="{% url 'account-edit' account.id %}"><button>EDIT DETAILS</button></a>
                    <a href="{% url 'account-delete' account.id %}"><button>CLOSE ACCOUNT</button></a>

        </div>
</div>


{% endblock %}