{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>All reviews by {{ account.username }}</h2>
<div class="reviews-container">
    {% if object_list %}
    {% for review in object_list %}
        <div class="review-card">
            <div class="review-card-reviewer-details">
                <div class="game-photo-review">
                        <a href="{% url 'games-detail' slug=review.game.slug %}"><img src="{{ review.game.game_cover }}" alt=""></a>
                </div>
            </div>
            <div class="review-card-review-details">
                <p>Player rating: {{ review.rating }} / 5</p>
                <p>{% if review.review %}{{ review.review }} {% else %} Comment not provided. {% endif %}</p>
                <h4>{{ review.created_at|date:"j F, Y" }}</h4>
                <div class="review-buttons">
                {% if account == request.user %}
                    <a href="{% url 'edit-review' slug=review.game.slug id=review.id %}"><button>Edit</button></a>
                {% endif %}
                {% if account == request.user or request.user.is_staff %}
                    <a href="{% url 'delete-review' slug=review.game.slug id=review.id %}"><button>Delete</button></a>
                {% endif %}
                </div>
            </div>
        </div>

    {% endfor %}
    {% else %}
    <h2>No reviews yet...</h2>
    {% endif %}


</div>
    <br>
    <br>
    <div class="pagination">
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class='page-button'href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in paginator.page_range %}
            {% if page_obj.number == num %}
                <strong>{{ num }}</strong>
            {% else %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class='page-button'href="?page={{ page_obj.next_page_number }}">Next</a>
        {% endif %}
    {% endif %}
</div>
{% endblock %}