{% extends 'base.html' %}
{% block content %}

<section class="form-container">
    <div class="form-div">
        <h2>Log into your account</h2>
        <form class="account-form-div" method='POST' action="">
            {% csrf_token %}
            {{ form.username }}
            {{ form.password }}

            {% if form.non_field_errors %}
                <div class="form-error">
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                 </div>
            {% endif %}

            <button type="submit">Log in</button>
        </form>
    </div>
</section>
{% endblock %}