{% extends 'base.html' %}

{% block content %}
<h1 class="game-h1">{{ game.name }}</h1>
<a class="mark-as-played-btn" href="{% url 'games-review' game.slug %}"><button>MARK AS PLAYED</button></a>

    <div class="game-details-block">
    <section class="game-details-card">
            <div class="game-photo">
                <img src="{{ game.game_cover }}" alt="">

            </div>

        <div class="game-details">


            <h2>RELEASE DATE: {{ game.release_date }}</h2>
            <h2>GENRE: {% for genre in game.genre.all %} {{ genre.genre_name }} {% endfor %}</h2>
            <h2>PLATFORMS: {% for platform in game.platform.all %} {{ platform.platform_name }} {% endfor %}</h2>

            <h2>RATING: {% if total_rating %}{{ total_rating|floatformat:"2" }}/5{% else %}No reviews yet{% endif %}</h2>
            <h2><a class='h2-button-reviews' href="{% url 'game-all-reviews' slug=game.slug %}">REVIEWS</a> </h2> {#continue once the backend logic is completed#}


        </div>


    </section>



</div>

                {% if game.trailer_url %}
                    <iframe  controls src="{{ game.trailer_url }}"></iframe>
            {% endif %}
    <div class="game-description-container">
        <p>{{ game.description }}</p>
    </div>
                {% if user.is_superuser %}
                    <div class="game-admin-buttons">
                        <a href="{% url 'edit-game' slug=game.slug %}"><button>Edit</button></a>
                        <a href="{% url 'delete-game' slug=game.slug %}"><button>Delete</button></a>
                        <a href="{% url 'manage-games-api-view' slug=game.slug %}"><button>Manage with API</button></a>
                    </div>
                {% endif %}


{% endblock %}