{% extends 'base.html' %}

{% block content %}
<h1 class="game-h1">{{ game.name }}</h1>
<a class="mark-as-played-btn" href="{% url 'games-review' game.slug %}"><button>MARK AS PLAYED</button></a>
<div class="game-details-block">
    <section class="game-details-card">
            <div class="game-photo">
                <img src="{{ game.game_cover }}" alt="">

            </div>

        <div class="game-details">


            <h2>RELEASE DATE: {{ game.release_date }}</h2>
            <h2>GENRE: {% for genre in game.genre.all %} {{ genre.genre_name }} {% endfor %}</h2>
            <h2>PLATFORMS: {% for platform in game.platform.all %} {{ platform.platform_name }} {% endfor %}</h2>

            <h2>RATING: {% if total_rating %}{{ total_rating|floatformat:"2" }}{% else %}No reviews yet</h2>{% endif %}
            <h2>REVIEWS: </h2> {#continue once the backend logic is completed#}


        </div>
    </section>
</div>
    <div class="game-description-container">
        <p>{{ game.description }}</p>
    </div>

{% endblock %}