{% extends 'base.html' %}
{% load static %}
{% block content %}
    <br>
<div class="reviews-container">
    {% if object_list %}
    <h2>Player reviews for {{ game.name }}</h2>
    {% for review in object_list %}
        <div class="review-card">
            <div class="review-card-reviewer-details">
                <div class="reviewer-photo">
                    {% if review.user.profile.profile_picture %}
                        <a href="{% url 'account-details' review.user.id %}"><img src="{{ review.user.profile.profile_picture }}" alt=""></a>
                    {% else %}
                        <a href="{% url 'account-details' review.user.id %}"><img src="{% static 'user/no-photo-user.png' %}" alt=""></a>
                    {% endif %}

                </div>
               <p> {{ review.user.username }}</p>
            </div>
            <div class="review-card-review-details">
                <p>Player rating: {{ review.rating }} / 5</p>
                <p>{% if review.review %}{{ review.review }} {% else %} Comment not provided. {% endif %}</p>
                <h4>{{ review.created_at|date:"j F, Y" }}</h4>

            {% if review.user == account %}
                <div class="review-buttons">
                    <a href="{% url 'edit-review' slug=game.slug id=review.id %}"><button>Edit</button></a>
                    <a href="{% url 'delete-review' slug=game.slug id=review.id %}"><button>Delete</button></a>
            {% endif %}
            </div>
            </div>
    {% endfor %}
    {% else %}
    <h2>No reviews yet...</h2>
    {% endif %}
</div>
    <br>
    <br>
<div class="pagination">
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class='page-button'href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in paginator.page_range %}
            {% if page_obj.number == num %}
                <strong>{{ num }}</strong>
            {% else %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class='page-button'href="?page={{ page_obj.next_page_number }}">Next</a>
        {% endif %}
    {% endif %}
</div>
</div>
{% endblock %}