{% extends 'base.html' %}

{% block content %}

<section class="game-review-container"  >
    <h2>You are reviewing {{ game.name }}</h2>
        <div class='game-review-form-div'>
            <form method='POST' action="">
                {% csrf_token %}
                <p>Rate the game out of 5:</p>
                {{ form.rating }}
                {% if form.rating.errors %}
                    <div class="form-error">
                        {{ form.rating.errors }}
                    </div>
                {% endif %}
                <p>Share a few words about your experience:</p>
                {{ form.review }}
                {% if messages %}
                    <ul class="form-error">
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                <button>Submit</button>
            </form>
        </div>

</section>
{% endblock %}