{% extends 'base.html' %}

{% block content %}


{% if object_list %}
    <h2 class="game-list-h2">Latest games...</h2>

    <main>
        <section class="games-list">
            {% for game in object_list %}
            <div class="game-card">
                <div class="photo-borders"><a href="{% url 'games-detail' slug=game.slug %}"><img src="{{ game.game_cover }}" alt=""></a></div>
                <p class='game-name'>{{ game.name }}</p>
                <p>Release date: {{ game.release_date }}</p>
                <p>Genre: {% for genre in game.genre.all %} {{ genre.genre_name }} {% endfor %}</p>
                <p>Platform: {% for platform in game.platform.all %} {{ platform.platform_name }} {% endfor %}</p>
                <p>Developer: {{ game.developer }}</p>
                <p class="p-description">Description: {{ game.description|truncatewords:25 }}</p>
            </div>
            {% endfor %}
        </section>
    </main>
        <div class="all-games">
            <p><a href="{% url 'all-games' %}">VIEW FULL LIST</a></p>
        </div>
{% else %}
    <h2>No games added yet...</h2>
{% endif %}
{% endblock %}