{% extends 'base.html' %}

{% block content %}
<section class="game-review-container">
    <h2>Delete review for {{ game.name }}?</h2>

    <div class='game-review-form-div'>
        <form method="POST">
            {% csrf_token %}
            <input type="text" value="{{ review.rating }}" disabled>
            <textarea disabled>{{ review.review }}</textarea>

            <div class="confirmation">
                <p>This action cannot be undone.</p>
                <button type="submit">Delete</button>
                <a href="{% url 'games-detail' slug=game.slug %}"><button type="button">Cancel</button></a>
            </div>
        </form>
    </div>
</section>
{% endblock %}
