{% extends 'base.html' %}
{% load static %}
{% block content %}
    <br>
<div class="reviews-container">
    {% if object_list %}
    <h2>Player reviews for {{ game.name }}</h2>
    {% for review in object_list %}
        <div class="review-card">
            <div class="review-card-reviewer-details">
                <div class="reviewer-photo">
                    {% if review.user.profile.profile_picture %}
                        <a href="{% url 'account-details' review.user.id %}"><img src="{{ review.user.profile.profile_picture }}" alt=""></a>
                    {% else %}
                        <a href="{% url 'account-details' review.user.id %}"><img src="{% static 'user/no-photo-user.png' %}" alt=""></a>
                    {% endif %}

                </div>
               <p> {{ review.user.profile.first_name }}</p>
            </div>
            <div class="review-card-review-details">
                <p>Player rating: {{ review.rating }} / 5</p>
                <p>{% if review.review %}{{ review.review }} {% else %} Comment not provided. {% endif %}</p>
                <h4>{{ review.created_at|date:"j F, Y" }}</h4>

            </div>
        </div>
    {% endfor %}
    {% else %}
    <h2>No reviews yet...</h2>
    {% endif %}
</div>

{% endblock %}