

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Explorer</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}"/>

</head>
<body>

    <header>
            <h1>Game Explorer</h1>
            <nav>
                <a href="{% url 'games-list' %}">Games</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'account-details' account.id %}">Profile</a>
                    <a href="">Your Games</a>
                    <form method="post" action="{% url 'logout' %}" style="display: inline;">
                    {% csrf_token %}
                    <button class="menu-button">Logout</button>
                    </form>
                {% else %}
                    <a href="{% url 'login' %}">Login</a>
                    <a href="{% url 'register' %}">Register</a>
                {% endif %}

            </nav>
    </header>


    
    {% block content %}
    {% endblock %}


<footer>
    <p>&copy; 2024 Game Explorer. Developed by Mihail Velinov. All rights reserved.</p>
</footer>



</body>
</html>