.form-container{
    display: flex;
    align-items: center;
    justify-content: center;

}

.form-div {
    padding-bottom:30px;
    margin-top: 40px;
    border: 3px solid white;
    text-align: center;
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 28px #2a6b88;
    background: rgba(0, 0, 0, 0.2);

}

.form-input  {
    display: block;
    text-align: center;
    padding:10px 50px;
    margin:6px;
    border-radius: 10px;
    width: 60%;
}

.account-form-div {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.date-input {
    padding: 10px 75px;
}


.form-input:focus {
    border: 2px solid #2F28EE;
    outline: none;
}

button {
    text-align: center;
    margin-top: 20px;
    background-color: #40b3ff;
    border: 2px black solid;
    border-radius: 20px;
    padding: 16px 32px;
    font-family: 'Orbitron', sans-serif;
}

button:hover {
    color: white;
    cursor: pointer;
}

p {
    color: white;
}

.confirmation-message {
    margin: 20px;
    padding: 5px;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

.game-review-container {
    margin-bottom: 20px;
}

.form-error{
    background-color: #f44336;
    padding: 5px;
    border-radius: 5px;
    margin: 3px;
    text-align: center;
}