.game-review-form-div {
            display: flex;
            justify-content: center;
}

.game-review-form-div form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 50;
}

.game-review-form-div p {
    margin: 0;
    padding: 0;
    font-style: italic;
}

.game-review-container {
    margin: 0 auto;
    width: 50%;
    box-shadow: 0 0 7px #4ac1f7;
    padding-bottom: 30px;
    background-image: url("/static/backgrounds/background-game-card.png");
}


.h2-button-reviews {
    text-decoration: none;
    color: #5ac2f5;
}

.h2-button-reviews:hover {
    color: white;
}


.review-card {
    padding: 10px;
    margin: 0 auto;
    max-width: 45%;
    height: auto;
    display: flex;
    flex-direction: row;
    border-radius:10px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.8); /* 50% transparent white background */
    box-shadow: 0 0 7px #000000;
}

.reviewer-photo {
    width: 70px;
    height: 70px;
    box-shadow: 0 0 7px #4ac1f7;
    margin: 0 auto;
    overflow: hidden;
}

.reviewer-photo img {
    width: 100%;
    height: auto;
}

.review-card-reviewer-details {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 18px;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    border-right: #100f0f 2px solid;
    margin-bottom: 10px;
}

.review-card-reviewer-details p{
    font-size: 13px;
    padding-top:5px;

}

.review-card-review-details p:first-of-type {
    font-family: 'Orbitron', sans-serif;

}

.review-card-review-details p:nth-of-type(2) {
    font-style: italic;
    display: block;
    width: 100%;
}

.review-card-review-details p:nth-of-type(3) {
    font-style: italic;
    text-align: right;
}

.review-card-review-details {
    padding-left: 20px;
    width:100%;


}

.reviews-container {
    padding-top: 10px;
    width: 60%;
    margin: 0 auto;
    box-shadow: 0 0 7px #1c1e1f;
    background-image: url("/static/backgrounds/background-game-card.png");
    max-height: 50vh;
    overflow: scroll;
}

.reviews-container::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    color: #40b3ff;
}

.reviews-container::-webkit-scrollbar-track {
    background-color: black; /* Set background color of the track */
    border-radius: 1px;
}

.reviews-container::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 1px;
}

h4 {
    color:white;
    font-family: 'Orbitron', sans-serif;
    text-align: right;
}

.all-reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-review-card {
    padding: 10px;
    margin: 10px;
}

.game-photo-review {
    width: 150px;
    max-height: 150px;
    box-shadow: 0 0 7px #4ac1f7;
    overflow: hidden;
    transition: transform 0.5s ease;
    position: relative;

}

.game-photo-review img {
    width: 100%;
    height: 100%;
}

.game-photo-review:hover {
    transform: scale(1.1);
}

.review-buttons {
    display: flex;
    justify-content: right;
    gap: 10px;
}

.review-buttons button {
    margin: 0;
    padding: 10px;
}

.review-buttons a:nth-of-type(2) button:hover {
    background-color: #8d0d0d;
}

.confirmation {
    text-align: center;
}