.game-card-cover-photo {
    width: 300px;
    height: 280px;
    overflow: hidden;
    box-shadow: 0 0 7px #4ac1f7;
        display: flex;
    justify-content: center;
    align-items: center;

}

.game-card-cover-photo img {
    display: block;
    width: 100%;
    height: auto;
}

.game-card-index {
    padding-top: 50px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 90px;
    background-color: rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
    border-radius: 5px;
}

.latest-entry {
    position: relative;
    transition: transform 0.5s ease;

}

.latest-entry:hover  {
    transform: scale(1.1);
    cursor: pointer;
}

.entry-badge {
    width: 170px;
    height: auto;
    position: absolute;
    top: -50px;
    left: -70px;
}

.entry-badge img {
    width: 100%;
}

.entry-badge-top {
    width: 130px;
    height: auto;
    position: absolute;
    top: 10px;
    left: 325px;
}

.top-entry {
    position: relative;
    transition: transform 0.5s ease;
}

.top-entry:hover  {
    transform: scale(1.1);
    cursor: pointer;
}

.entry-badge-top img {
    position: absolute;
    width: 100%;
    left: -380px;
    top: -40px;
}

.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introduction h1 {
    margin: 20px;
}

.introduction p {
    text-align: center;
}

.index-page {
    padding: 15px;
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    background-color: #0e0e0e;
    border-radius: 10px;
    padding-bottom: 25px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-image: url('/static/backgrounds/index-bg.png');
    box-shadow: 0 0 15px #461952;
}

.pagination {
    text-align: center;
    color: #4ac1f7;
    font-size: 20px;
}

.pagination a{
    text-decoration: none;
    color: #2c6d8a;
    padding: 10px;
    margin: 5px;
}

.page-button {
    border: 1px solid #4ac1f7;
}

.search-field {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.search-field button {
    padding: 10px;
}

.search-field input {
    padding: 10px;
}

.form-error{
    background-color: #f44336;
    padding: 1px;
    border-radius: 5px;
    margin: 5px;
}

a {
    text-decoration: none;
    color: #4ac1f7;
}

a:hover{
    color: white;
}