nav {
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 40px;
}

nav a {
    margin: 30px;
    padding-left: 40px;
    padding-right: 40px;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Orbitron', sans-serif;
    color: #40b3ff;
}

nav a:hover {
    color: white;
}


.menu-button {
    background: none;
    margin: 0;
    margin-right: 40px;
    margin-left: 40px;
    color: inherit;
    font: inherit;
    cursor: pointer;
    padding-left: 0;
    padding-right: 0;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
    color: #40b3ff;
    border: none;
}
