body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;

}

header {
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/static/logo/banner.png');
    background-repeat: no-repeat;
    border-radius: 5px;
    box-shadow: 0 0 7px #4ac1f7;

}

header img {
    align-items: center;
    transition: transform 0.5s ease;
}

header img:hover  {
    transform: scale(1.1);
    cursor: pointer;
}

main {
    display: flex;
    justify-content: center; /* Aligns content horizontally */
    align-items: center;     /* Aligns content vertically */
    min-height: 100vh;
}

h1 {
    text-align: center;
    margin: 60px;
    color: #40b3ff;
    font-family: 'Orbitron', sans-serif;
    font-size: 36px;
}

h2 {
    text-align: center;
    margin: 40px;
    color: #40b3ff;
    font-family: 'Orbitron', sans-serif;
    font-style: italic;
}
h2 {
    text-align: center;
    margin: 20px;
    color: #40b3ff;
    font-family: 'Orbitron', sans-serif;
    font-size: 25px;
}

/*nav CSS*/

nav {
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 40px;
}

nav a {
    margin: 40px;
    padding-left: 40px;
    padding-right: 40px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
    color: #40b3ff;
}


nav a:hover {
    color: white;
}


.menu-button {
    background: none;
    margin: 0;
    margin-right: 40px;
    margin-left: 40px;
    color: inherit;
    font: inherit;
    cursor: pointer;
    padding-left: 0;
    padding-right: 0;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
    color: #40b3ff;
}

/*footer CSS*/

footer {
    margin-top: auto;
    padding-bottom: 20px;
}

footer p {
    color: #40b3ff;
    font-style: italic;
}

/*forms CSS*/

.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-div {
    padding-bottom:30px;
    margin-top: 40px;
    border: 3px solid white;
    text-align: center;
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-input  {
    display: block;
    text-align: center;
    padding:10px 50px;
    margin:20px;
    border-radius: 10px;
}

.date-input {
    padding: 10px 75px;
}


.form-input:focus {
    border: 2px solid #2F28EE;
    outline: none;
}

button {
    text-align: center;
    margin-top: 20px;
    background-color: #40b3ff;
    border: 2px black solid;
    border-radius: 20px;
    padding: 16px 32px;
    font-family: 'Orbitron', sans-serif;
}

button:hover {
    color: white;
    cursor: pointer;
}

p {
    color: white;
}


/*games templates style*/

.game-name {
    font-family: 'Orbitron', sans-serif;
}


.games-list {
    padding-top: 20px;
    margin-top: 10px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.4);



}

.games-list::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://plus.unsplash.com/premium_photo-1685148902854-9b9bb49fff08?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8Y3liZXJwdW5rfGVufDB8fDB8fHww');
    background-repeat: repeat;
    background-color: rgba(0, 0, 0, 0.9); /* Adds a semi-transparent black overlay */
    background-blend-mode: overlay;       /* Mixes the image and the color */
    filter: blur(5px); /* Blurs the entire background */
    z-index: -1000;

}


.p-description {
    width: 80%;
}

.photo-borders {
    width: 400px;
    height: 400px;
    overflow: scroll;
    overflow-x: hidden;
    transition: transform 0.5s ease, box-shadow 0.5s ease; /* Add transition for box-shadow */

}

.photo-borders:hover {
    box-shadow: -15px -15px 30px 10px rgba(47, 40, 238, 0.2);  /* Glowing effect with #2f28ee */
}


.photo-borders::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    color: #40b3ff;
}

.photo-borders::-webkit-scrollbar-track {
    background-color: black; /* Set background color of the track */
    border-radius: 10px;
}

.photo-borders::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px;
}

.photo-borders::-webkit-scrollbar-thumb:hover {
    background-color: #40b3ff; /* Darker thumb color when hovered */
}

.game-card {
    flex: 1 1 30%;
    max-width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 80px;

}

.game-card img {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
}


.game-card img:hover  {
    transform: scale(1.1);
    cursor: pointer;
}

.all-games{
    background-color: rgba(24, 14, 218, 0.05);
}

.all-games p {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
}

.all-games p a {
    text-decoration: none;
    color: white;
}

.all-games p a:hover{
    color: #40b3ff;
}

.game-list-h2 {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    margin: 30px;
    font-size: 40px;
}

ul {
    list-style-type: none;
}

.all-games ul li {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    margin: 15px;
}


.all-games ul a {
    text-decoration: none;
    color:#40b3ff;
}

.all-games ul a:hover {
    color: white;
}



/*account details CSS*/

.user-details-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.user-card {
    display: flex;
    width: 50%;
    height: auto;
}

.user-visualization {
    width: 30%;
    border: #4ac1f7 2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.user-photo {
    margin-top: 50px;
    margin-bottom: 30px;
    border-radius: 50%;
    width: 80%;
    height: auto;
    overflow: hidden;
}

.user-photo img {
    width: 100%;
    height: auto;
}

.user-details {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.user-details h1  {
    display: inline;
    text-align: left;
    margin: 30px;
    padding-bottom: 10px;
    font-size: 35px;
    border-bottom: #4ac1f7 1px solid;
}

.user-details h2 {
    text-align: left;
    display: flex;
    margin-top: 5px;
    margin-left: 30px;
}

.user-details p {
    font-size: 15px;
    margin-left: 30px;
    font-style: italic;
    color: white;
}

.user-buttons {
    display: flex;
    flex-direction: column;
}

/*account close CSS*/

.delete-buttons-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.account-close-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-close-page h1{
    margin-bottom: 25px;
}

.account-close-page h2 {
    padding-bottom: 20px;
    border-bottom: #4ac1f7 1px solid;
    text-align: center;
    width: 25%;
}